[submodule "VulnerabilityScanner/scanning/resources/nvd-json-data-feeds"]
	path = VulnerabilityScanner/scanning/resources/nvd-json-data-feeds
	url = https://github.com/fkie-cad/nvd-json-data-feeds.git
