[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2.11"
python3-nmap = "1.6.0"
celery = "5.3.5"
markdown = "*"
weasyprint = "60.1"
redis = "5.0.1"

[dev-packages]

[requires]
python_version = "3.12"
